body {
  page-break-inside: avoid;
  scroll-behavior: smooth;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#card {
  border: 1px solid #0000008b !important;
  padding: 2px;
  border-radius: 0.3rem;
  width: 330px;
  height: 10rem;
}

#image {
  height: 40px !important;
  width: 40px !important;
  overflow: hidden !important;
}

#fontSize {
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
}

.lhs {
  line-height: 2.3rem;
}

p {
  margin: 0rem !important;
  font-size: 12px;
  padding: 0px 5px;
  text-transform: uppercase;
  font-weight: 900;
}

#roll {
  font-size: 1.1rem !important;
}

label {
  text-transform: uppercase !important;
}

@page {
  margin: 0.2in 0in !important;
}

@media print {
  #print-area {
    display: none !important;
  }
}
