body {
  page-break-inside: avoid;
  scroll-behavior: smooth;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#card {
  border: 1px solid #0000008b !important;
  padding: 4px 2px;
  border-radius: 0.2rem;
  width: 345px;
  height: 10.2rem;
}

#image {
  height: 40px !important;
  width: 40px !important;
  overflow: hidden !important;
}

#fontSize {
  text-align: center;
  font-size: 11px;
  font-weight: bolder;
}
.lhs{
  line-height: 1.6rem;
}

p {
  margin-bottom: 0.1rem !important;
  font-size: 12px;
  padding: 0px 5px;
  text-transform: uppercase;
  font-weight: 900;
}

#roll {
  font-size: 0.90rem !important;
}

label {
  text-transform: uppercase !important;
}

@page {
  margin: 0.2in 0in !important;
}
