.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#card {
  border: 1px solid #0000008b !important;
  padding: 0.2rem;
  border-radius: 10px;
  width: 340px;
}
#image {
  width: 40px;
}
#fontSize {
  text-align: center;
  font-weight: bold;
  font-size: 10px;
}

.margin {
  margin: 3px 0px;
}

p {
  margin-bottom: 0.3rem !important;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 900;
}

label{
  text-transform: uppercase !important;
}
