.card-container {
  display: flex;
  flex-wrap:wrap;
  gap: 1rem;
}
#card {
  border: 1px solid #0000008b !important;
  padding: 5px;
  border-radius: 0.2rem;
  width: 340px;
}
#image {
  height: 40px !important;
  width: 40px !important;
  overflow: hidden !important;
}
#fontSize {
  text-align: center;
  font-weight: bold;
  font-size: 10px;
}

.margin {
  margin: 0.5rem 0rem;
}
p {
  margin-bottom: 0.1rem !important;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 900;
}
label {
  text-transform: uppercase !important;
}

.hide-for-print {
  z-index: 2!important;
  display: none !important;
}
