.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#card {
  border: 1px solid #0000008b !important;
  padding: 3px;
  border-radius: 0.2rem;
  width: 250px;
}
#image {
  height: 35px !important;
  width: 35px !important;
  overflow: hidden !important;
}
#fontSize {
  text-align: center;
  font-weight: bolder;
  font-size: 9px;
}

.margin {
  margin: 0.5rem 0rem;
}
p {
  margin-bottom: 0.1rem !important;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 900;
}
label {
  text-transform: uppercase !important;
}

.hide-for-print {
  display: none !important;
}

@page {
  margin: 0.8in 0in !important;
}
