textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.form-control,
.form-select,
.btn.active {
  box-shadow: none !important;
}
